body {
    background-color: black;
}

@font-face {
    font-family: "Err Trr";
    src: local("../res/fonts/Abel-Regular.ttf") ;
}

@font-face {
    font-family: "Drugulin";
    src: local("res/fonts/VC_Drugulin-Display.otf");
}

@font-face {
    font-family: Arbel;
    src: url("res/fonts/ArbelG-Bold.otf") ;
}

h1 {
    position: relative;
    font-size: 150px;
    left: 0;
    text-align: center;
    color: chartreuse;
    -webkit-text-fill-color: chartreuse;
    /*-webkit-text-stroke: black 1px;*/
    font-family: Arbel, sans-serif;
}

h2 {

    font-family: "Drugulin", serif;
    color: aliceblue;
}

.fakeface {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("./res/fake_faces/img000000010.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

h3 {
    font-family: 'Err Trr', sans-serif;
    color: chartreuse;
}