body {
    background-color: #FFFFF8;
    direction: rtl;
    font-family: ArbelRegular, sans-serif;
    -webkit-text-size-adjust: none;
    margin: 0;

    font-size: 16pt;
}

@font-face {
    font-family: ArbelBold;
    src: url("../res/fonts/ArbelG-Bold.otf");
}

@font-face {
    font-family: ArbelRegular;
    src: url("../res/fonts/ArbelG-Regular.otf");
}

.fakeface {
    /*background-size: contain;*/
    top: 0;
    left: 0;
    right: 0;
    /*width: 100%;*/
    /*min-height: 1024px;*/
    /*max-height: 1024px;*/
    /*height: 1024px;*/
    background-image: url("../res/fake_faces/fake0.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    font-family: ArbelBold, serif;
    /*text-align: center;*/
}

.ganinfo {
    position: relative;
    font-size: 2em;
    left: 0;
    text-align: center;
    /*color: white;*/
    -webkit-text-fill-color: black;
    /*-webkit-text-stroke: black 1px;*/
    margin-left: 5%;
    margin-right: 5%;
    /*text-line-through: single;*/

}

.fakeface p {
    position: center;
    font-size: 120px;
    /*height: 100px;*/
    /*width: 1024px;*/
    right: 0;
    left: 0;
    text-align: center;
    -webkit-text-fill-color: #FF4F4F;
    /*-webkit-text-stroke: black 1px;*/
    line-height: 150px;
    letter-spacing: -7px;
    margin-top: 0px;
    margin-bottom: 0px; /* between paragraphs */
}

b {
    font-family: ArbelBold, serif;
}

hr {
    width: 50%;
    height: 3px;
    border-width: 0;
    background-color: black;
}

h4 {
    -webkit-text-fill-color: #FF4F4F;
    font-size: inherit;
}

h5 {
    font-size: inherit;
    -webkit-text-fill-color: black;
}


.contact {
    color: black;
    font-size: 1.5em;
    text-align: center;
    font-family: ArbelBold;
}

a {
    color: #FF4F4F;
    text-decoration: none;
}


h1 {
    position: relative;
    font-size: 150px;
    left: 0;

    text-align: center;
    color: chartreuse;
    -webkit-text-fill-color: chartreuse;
    /*-webkit-text-stroke: black 1px;*/
}


h7 {
    text-decoration-line: line-through;
    text-decoration-color: black;
}

h2 {

    font-family: "Drugulin", serif;
    color: aliceblue;
}

.ending {
    position: center;
    font-size: 120px;
    /*height: 100px;*/
    /*width: 1024px;*/
    right: 0;
    left: 0;
    text-align: center;
    -webkit-text-fill-color: #FF4F4F;
    /*-webkit-text-stroke: black 1px;*/
    line-height: 150px;
    letter-spacing: -7px;
    margin-top: 0px;
    margin-bottom: 0px; /* between paragraphs */
}